body {
    margin :0px;
    padding: 0px;
}

.nav {
    background-color: #010320;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    position: fixed;
    top: 0px;
    width: 100%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.länkar {
    padding-left: 20px;
}

.formulär {
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: white;

}

.logga {
    font-weight: bold;
    font-size: 42px;
    padding-right: 15px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    padding-top: 30px;
}

.link {
    color: black;
    font-weight: bold;
}

.forgotPassword {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.medlemsSida {
    padding-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

ul {
    list-style: none;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

#main {
    height: 600px;
   background-color: black;
   margin-top: 90px;
   color: white;
}

#container { height: 600px;
    background-color: black;
    margin-top: 90px;
    color: white;
}

h2 {
    padding-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    margin: auto;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

img {
    width: 200px;
   
}

#footer {
    background-color: #444242;
    width: 100%;
    color: white;
    height: 130px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

#datum {
    margin-right: 60px;
}

.footerlänk {
    margin: 60px;
}